@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');

:root {
    --primary-color: #0D6EFD;
    --secondary-color: #6C757D;
    --success-color: #198754;
    --danger-color: #DC3545;
    --info-color: #0DCAF0;
    --warning-color: #FFC107;
    --light-color: #E8E8E8;
}

body {
    background-color: var(--primary-color);
}

a {
    display: block;
}

html {
    font-size: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
}

#main-container {
    max-width: 80% !important;
}